body {
    background-color: #16161d;
    color: #d3d3de;
}

a {
    color: #7c7c9c;
}

.callout.primary div {
    background-color: #21212c;
    color: #d3d3de;
}

.callout.primary {
    background-color: #21212c;
    color: #d3d3de;
}

.column {
    background-color: #16161d;
    color: #d3d3de;
    text-align: center;
}

.off-canvas {
    background-color: #16161d;
}

a:hover,
a:focus {
    background-color: #16161d;
    color: #d3d3de;
}